@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font> {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.max-width{
    max-width: 1160px;
    margin: 0 auto;
}
/* nav bar styles part */
.display-flex{
    display: flex;

}
.menu-icon{
    display: none;
}
/* .display-none{
    display: none;
} */

.navbar{
    justify-content: space-between;
    padding: 20px;
    
}
.logo-part{
    display: flex;
}
.nav-links{
            text-align: center;
            margin-top: 40px;
}
.nav-item{
    
    list-style: none;

}

.nav-link-1{
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
    font-size: 2opx;
    color: orange;
    
}
.nav-link-2{
    text-decoration: none;
    margin-right: 30px;
    font-weight: medium;
    font-size: 2opx;
    color: skyblue;
        
}
.nav-link-3{
    text-decoration: none;
    margin-right: 30px;
    font-weight: medium;
    font-size: 2opx;
    color: #05D4DF;
    
}
.nav-link-4{
    text-decoration: none;
    margin-right: 30px;
    font-weight: medium;
    font-size: 2opx;
    color: #5D58EF;
    
}
.menu-icon div{
    font-size: larger;
    width: 40px;
    height: 10px;
    color: black;
}
/* .buton{
    margin-top: 50px;
} */
.button-part{
   margin-top: 20px;
   font-weight: 600;
   font-size: 20;
   border-radius: 5px;
   padding: 10px 60px;
   background-color: orange;
   color: white;
   border-color: orange;
}


/* heading part */
.heading{
    font-weight: 900;
    font-size: 56px;
    

}
.heading-explanation{
    color: black;
    font-size: 20;
    margin-top: 24px;
    
    
}
.part-1{
    font-weight: bold;
    font-size: 56px;
    color: orange;
}
.part-2{
    font-weight: bold;
    font-size: 56px;
    color: skyblue;
}
.btn-primary{
    background-color: black;
    color: white;
    padding: 10px 47px;
    border-radius: 5px;
}
/* .details{
    
   
    
} */
.details-container{
    /* margin-top: 122PX;
    margin-bottom: 122px; */
    /* width: 900px;
    margin: 0 auto; */
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    gap: 50px;
   
   
}
.image{
    
    padding: 0px;
}

/* curriculum styles */
.curriculum{
    margin-top: 20px;
   background: url(../assets/bg.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat; 
    
}

.headline-title{
    text-align: center;
}
.all-box{
   gap: 28px;
   
}
.box-1{
    border: 1px solid  rgb(222, 245, 255);
    border-radius: 20px;
         text-align: center;
         background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);

         padding: 30px;
         
}
.box-1 img{
    margin-top: 20px;
}
.box-2{
    border: 1px solid rgb(255, 244, 220);
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 50%), rgb(255, 255, 255);
}
.box-2 img{
    margin-top: 20px;
}
.box-3{
    border: 1px solid rgb(242, 232, 255);
    border-radius: 20px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 50%), rgb(255, 255, 255);

    text-align: center;
    padding: 30px;
}
.box-3 img{
    margin-top: 20px;
}
.headline-title{
    font-weight: bold;
    font-size: 46px;
    padding: 60px;
}
.btn-1{
    background-color: white;
    color: #64C8FF;
}
.btn-2{
    color: #F0AA00;
}
.btn-3{
    color: #8700FF;
}
.box-1description{
    color: #808080;
    font-size: 16px;
}
.image-title{
    font-weight: bold;
    font-size: 24px;
    color: #202020;
}
.icon-2{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* text-align: center; */
    /* width: 50px; */
    /* height: 50px; */
    /* margin-top: 50px; */
    /* background-color: orange; */
    /* border-radius: 50%; */
    gap: 10px;
    justify-content: center;

}
/* .icon-left{ */
    /* font-size: 40px; */
    /* font-weight: bold; */
    /* color: white; */
    /* margin: 0 auto; */
    /* line-height: 1; */

    
    /* background-color: orange; */
/* } */
 .icon-2 .icon-right{
    display: inline;
    padding: 18px 23px 20px 23px;
    border-radius: 30px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
 }
    /* font-weight: bold; */
    /* color: white;
    margin: 0 auto; */
    /* line-height: 1; */
    .icon-2 .icon-left{
        display: inline;
        padding: 18px 23px 20px 23px;
        border-radius: 30px;
        background-color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: white;

    }

    /* responsive for the curriculum */
    @media screen and (max-width: 576px) {
        .icon-2{
            display: none;
        }
        .curriculum .all-box{
            flex-direction: column;
            width: 90%;
            margin: auto;
        }
        
    }
    
    
    
/* responsive styles for the navbar */
@media screen and (max-width: 576px) {
    .button{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .navbar{
        padding-left: 16px;
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        width: 100%;
    }
    .fa-solid fa-bars{
        display: flex;
    }
    .school-title{
        display: none;
    }
    .menu-icon{
        display: block;
        padding: 50px 50px;
    }
    /* .display-none{
        display: flex;
    } */
}
/* responsive for the container part of 2 */
@media screen and (max-width: 576px) {
    .details-container{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        /* margin: 20px; */
        /* padding: 10px; */
        /* padding: 16px; */
        margin: 18px;
    
    }
    .details-container .image img{
        width: 90%;
        margin: 0 auto;
    }
    .title-1{
        /* margin-bottom: 20px; */
        /* margin: 0 auto; */
      }
     /* .image{

         /* width: 90%; */
         /* margin-top: 20px; */
        /* padding: 16px; */
         /* margin: 0 auto; */
    }   
     
          
    